*.class
Mirrors-desktop/bin/*

Mirrors-desktop/bin/maps/mirrosTiles.png

Mirrors-desktop/bin/maps/mirrosExit.png

Mirrors-desktop/bin/maps/level00.tmx

Mirrors-desktop/bin/maps/level00.tmx

Mirrors-desktop/bin/maps/level00.tmx

Mirrors-desktop/bin/maps/mirrosExit.png

Mirrors-desktop/bin/maps/mirrosExit.png

Mirrors-desktop/bin/maps/mirrosSpawn.png

Mirrors-desktop/bin/maps/mirrosSpawn.png

Mirrors-html/.gwt/*
